<div id="layout">
    <div class="row smaller">
        <div class="col c5 smaller">
            <h1><a href="index.html">Wangcl</a></h1>
        </div>
        <div class="col c7 aligncenter">
            <p class="slogan">
                Always bear in mind that your own resolution to succeed is more important than any one thing. </p>
        </div>
    </div>
    <div class="row">
        <div class="col c12 aligncenter">
            <img src="/static/images/front.jpg" width="960" height="240" alt=""/>
        </div>
    </div>
</div>