<div class="col c2 alignright">
    <h3>Presentation:</h3>
    <p>This is the <a href="http://www.cssmoban.com/">Wangcl</a> template, with the basic layout from the <a
            href="http://www.cssmoban.com/templates/andreas01/">andreas01</a> template and the code base from <a
            href="http://www.cssmoban.com/templates/freestyle/">Freestyle</a>.</p>
    <h3>Links:</h3>
    <p><a href="#">Sample link 1</a><br/>
        <a href="#">Sample link 2</a><br/>
        <a href="#">Sample link 3</a></p>
</div>